@model Dictionary<int, string>

@if (Model == null || Model.Count == 0)
{
    <div>Looks like there was an error and no players were found in the session.</div>
}
else
{
    <div class="container mt-5">
        <h5 class="mb-4">Invite friend</h5>
        <form id="addPlayerFriendForm" method="post" asp-controller="Player" asp-action="AddFriend">
            <div class="mb-3">
                <input type="text" class="form-control filtration" placeholder="Search for players by nickname" />
            </div>
            <div class="d-flex flex-column p-3">
                <div id="playerButtons">
                    @foreach (var player in Model)
                    {
                        <div class="main-item mb-2" data-main="@player.Value" style="display: flex; align-items: center;">
                            <a href="#" class="text-dark btn btn-light btn-invite-player w-100 me-2" data-player-id="@player.Key">@player.Value</a>
                            <a asp-controller="Player" asp-action="InfoPlayer" asp-route-playerId="@player.Key" class="btn btn-warning">🔍</a>
                        </div>
                    }
                </div>
            </div>

            <div class="mt-2">
                <button type="submit" class="btn btn-success">Invite</button>
            </div>
        </form>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            var idPlayers = [];

            $('.btn-invite-player').on('click', function (event) {
                event.preventDefault();

                var button = $(this);
                var playerId = parseInt(button.data('player-id'));

                if (button.hasClass('btn-success')) 
                {
                    button.removeClass('btn-success').addClass('btn-light');
                    idPlayers = idPlayers.filter(id => id !== playerId);
                } 
                else 
                {
                    button.removeClass('btn-light').addClass('btn-success');
                    idPlayers.push(playerId);
                }
            });

            $("#addPlayerFriendForm").submit(function (event) {
                event.preventDefault();

                // Очистка предыдущих скрытых полей, если они есть
                $('input[name="idPlayers"]').remove();

                // Добавление текущих значений массива как скрытые поля
                idPlayers.forEach(function (id) {
                    $('<input>').attr({
                        type: 'hidden',
                        name: 'idPlayers',
                        value: id
                    }).appendTo('#addPlayerFriendForm');
                });

                var form = $(this);
                $.ajax({
                    type: form.attr('method'),
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (response) {
                        idPlayers = [];
                        $('#playerButtons .btn-invite-player').removeClass('btn-success').addClass('btn-light');

                        if (response.success) {
                            $('#formAccauntAddPlayerToSessionModal').modal('hide');
                            showMessage("Successful!");
                        } else {
                            var errorMessage = response.errorMessage;
                            showMessage(errorMessage, false);
                        }
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = xhr.status + ': ' + xhr.statusText;
                        showMessage('Error - ' + errorMessage, false);
                    }
                });
            });
            
        });
    </script>
}