<div class="container d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="position-relative d-flex justify-content-center align-items-center" style="width: 60vw; height: 75vh;">
        <div class="text-center border border-success border-5 rounded p-4 " style="width: 50vw; height: 50vh;">
            <h3 class="mb-4 m-3 fs-5 fs-md-3 ">Love to code and play? <br /> Start playing with friends in any programming language!</h3>
            <a asp-controller="Session" asp-action="CreateSession" class="btn btn-success"><h4>Start</h4></a>
        </div>
        <div class="position-absolute" style="top: -40px; left: 30%; transform: translateX(-50%);">
            <img src="~/img/c.png" alt="с" class="card-img-top" style="width: 17vw; height: 17vh; object-fit: contain;">
        </div>
        <div class="position-absolute" style="top: -40px; left: 70%; transform: translateX(-50%);">
            <img src="~/img/cPlusPlus.png" alt="c++" class="card-img-top" style="width: 17vw; height: 17vh; object-fit: contain;">
        </div>
        <div class="position-absolute" style="top: 80%; left: -60px; transform: translateY(-50%);">
            <img src="~/img/cSharp.png" alt="c#" class="card-img-top" style="width: 17vw; height: 17vh; object-fit: contain;">
        </div>
        <div class="position-absolute" style="top: 80%; right: -60px; transform: translateY(-50%);">
            <img src="~/img/java.png" alt="java" class="card-img-top" style="width: 17vw; height: 17vh; object-fit: contain;">
        </div>
        <div class="position-absolute" style="bottom: -40px; left: 30%; transform: translateX(-50%);">
            <img src="~/img/js.png" alt="js" class="card-img-top" style="width: 17vw; height: 17vh; object-fit: contain;">
        </div>
        <div class="position-absolute" style="bottom: -40px; left: 70%; transform: translateX(-50%);">
            <img src="~/img/pythone.png" alt="pythone" class="card-img-top" style="width: 17vw; height: 17vh; object-fit: contain;">
        </div>
        <div class="position-absolute" style="top: 40px; left: -60px;">
            <img src="~/img/ruby.png" alt="ruby" class="card-img-top" style="width: 17vw; height: 17vh; object-fit: contain;">
        </div>
        <div class="position-absolute" style="top: 40px; right: -60px;">
            <img src="~/img/swift.png" alt="swift" class="card-img-top" style="width: 17vw; height: 17vh; object-fit: contain;">
        </div>
    </div>
</div>